@import '../../styles/variable';

.room-page {
  margin: (80rem/24) (200rem/24);
  padding-top: (20rem/24);

  .swiper-container {
    border-radius: (16rem/24) !important;
    padding-bottom: (32rem/24);

    .swiper-wrapper {
      margin-bottom: (16rem/24) !important;
      max-height: 25rem;

      .swiper-slide {
        display: flex !important;
        background-color: #8783a7;
      }
    }
  }

  .img-slide {
    margin: auto;
    width: 100%;
  }

  .swiper-button-prev {
    color: #fff;
  }

  .swiper-button-next {
    color: #fff;
  }

  .swiper-pagination-bullet {
    width: (12rem/24);
    height: (12rem/24);
  }

  .swiper-pagination-bullet-active {
    color: #8783a7;
  }

  .room-info {
    margin-top: 1rem !important;
  }

  .room-title {
    margin: 1rem 0;
    display: flex;
    align-items: flex-end;
  }

  .room-information {
    border-radius: (12rem/24);
    margin-bottom: (24rem/24);
    font-family: $font-beVietnam-regular;
    font-size: 0.75rem;

    .info-container {
      margin-bottom: (18rem/24);
    }

    .description {
      white-space: pre-wrap;
      font-family: $font-beVietnam-regular;
    }

    .utility {
      width: 100%;
      display: flex;
      align-items: center;

      .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.25rem;
      }
    }

    .utility.show {
      color: $color-pink;
      font-family: $font-beVietnam-medium;
    }

    .utility.hidden {
      color: #e2f1f1;
    }
  }

  .card-header {
    margin: (16rem/24);
  }

  .room-info-card {

    .icon {
      color: #fc5185;
    }
  }

  .card-scroll {
    position: fixed;
    top: (100rem/24);
  }

  .map-container {
    width: 100%;
    height: 12rem;
  }

  @media screen and (max-width: 1200px) {
    .owner-info {
      width: 100% !important;
    }
  }

  .owner-info {
    width: 20rem;

    border-radius: 0.5rem;

    .body {
      display: flex;

      .owner-avt {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 80px;
        height: 80px;
        border-radius: 0.5rem;
        margin-right: 1rem;
        border: 2px solid #fff;
        box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.05);
      }
    }

    .icon {
      font-size: 20px;
      margin-right: 0.5rem;
      color: $color-pink;
    }

    .owner-name {
      font-size: 16px;
      font-family: $font-beVietnam-medium;
      line-height: 1rem;
      margin-bottom: 0.5rem;
    }

    .owner-phone {
      display: flex;
      margin-bottom: 0.25rem;
    }

    .owner-email {
      display: flex;
    }
  }

  .scrollTop {
    width: 100%;
    position: fixed !important;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;

    .icon {
      margin: auto;
      border-radius: 50%;
      font-size: 48px;
      color: white;
      background-color: black;
    }
  }

  .scrollTop:hover {
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
}
